@model Jello.Areas.Projects.Detail
@{ 
    ViewBag.Title = "Project Details";
    string issues = $"<span class='tab-badge'>{Model.TotalIssues}</span>";
}

<div class="page-box d-flex">

    <div>
        <div class="page-box-icon"><a href="/projects"><i class="@Cache.ThingDIcon"></i></a> Project</div>
        <div class="page-box-name">@Model.Title</div>
    </div>

    <div class="d-flex">
        <div class=" page-box-data-first">Issues<br />@Model.TotalIssues</div>
        <div class=" page-box-data">Type<br />@Model.Type</div>
        <div class=" page-box-data-last">Created On<br />@Model.CreatedDate</div>
    </div>
    <div class="ml-auto">
        <div class="page-box-buttons">
            <a class="btn btn-sm btn-light js-edit" href="/projects/edit/@Model.Id">Edit</a>
            <a class="btn btn-sm btn-light js-delete" href="/projects/delete" data-return-url="/projects" data-id="@Model.Id" 
               data-dependencies="@Model.TotalIssues">Delete</a>
        </div>
    </div>
</div>

<div class="tabs">
    <ul class="nav nav-tabs nav-tabs-related">
        <li class='nav-item'><a class='nav-link @(Model.Tab == "details" ? "active" : "")' data-toggle="tab" href="#details">Details</a></li>
        <li class='nav-item'><a class='nav-link @(Model.Tab == "issues" ? "active" : "")' data-toggle="tab" href="#issues">Issues @(Html.Raw(issues))</a></li>
    </ul>
</div>

<div class="tab-content">
@* 
    <div class='tab-pane @(Model.Tab == "details" ? "active" : "")' id="details">
        <div class="tab-pane-row row">

            <div class="col-12 col-md-6">
                <outputLink value="OwnerId" name="OwnerName" type="Owner" label="Thing D Owner"></outputLink>
                <outputField value="Name"></outputField>
                <outputField value="Text"></outputField>
                <outputField value="LongText"></outputField>
                <outputCheckBox value="Boolean"></outputCheckBox>

            </div>

            <div class="col-12 col-md-6">
                <outputField value="DateTime" label="Date Time"></outputField>
                <outputField value="Money" label="Money"></outputField>
                <outputField value="Integer"></outputField>
                <outputField value="Lookup"></outputField>
                <outputField value="Status"></outputField>
            </div>
        </div>
    </div>

    <div class='tab-pane @(Model.Tab == "issues" ? "active" : "")' id="issues">
        <partial name="_ThingE" model="Model.Issues" />
    </div> *@


</div>

<br />
<br />
<br />
<br />

@section Scripts
    {
    <script>
        $(function () {

        });
    </script>
}